<h1 class="title"><%= @result_string%></h1>

<div class="row">
  <div class="col-xs-6 center">
    <h4><%= @player_name %></h4>
    <%= image_tag "#{@user}.jpg", class: "img-responsive img-style" %> 
    <h2><%= @wins %></h2>
  </div>  
  <div class="col-xs-6 center">
    <h4>Computer</h4>
    <%= image_tag "#{@computer}.jpg", class: "img-responsive img-style" %>
    <h2><%= @losses %></h2>
  </div>
</div>

<%= form_tag('play', method: "get", class: "form-inline", role: "choose subject") do %>
  <%= hidden_field_tag(:user_name, @player_name) %>
  <%= hidden_field_tag(:wins, @wins) %>
  <%= hidden_field_tag(:losses, @losses) %>
  <%= button_tag "Play", class: "btn btn-default" %>
<% end %>

<%= link_to "Exit", root_path, class: "btn btn-default" %>