<h1>Hi, <%= @player_name %>!</h1>

<h3>Choose rock, paper, scissors by clicking on an image</h3>

<%= form_tag('compare', method: "get", class: "form-inline", role: "choose subject") do %>
  <div class="row">
    <div class="col-md-12">
      <%= image_submit_tag("rock.jpg", class: "img-style img-responsive", name: "image", value: "rock") %>
      <%= image_submit_tag("paper.jpg", class: "img-style img-responsive", name: "image", value: "paper") %>
      <%= image_submit_tag("scissors.jpg", class: "img-style img-responsive", name: "image", value: "scissors") %>
    </div>
  </div>

  <%= hidden_field_tag(:user_name, @player_name) %>
  <%= hidden_field_tag(:wins, @wins) %>
  <%= hidden_field_tag(:losses, @losses) %>

<% end %>
 <h1>Good luck!!!</h1>


